PORT=8000

MONGODB_URI=mongodb+srv://sila_md:sila0022@sila.67mxtd7.mongodb.net/

OWNER_NUMBER=255636341031

NEWSLETTER_JID=120363402325089913@newsletter

CHANNEL_LINK=https://whatsapp.com/channel/0029VbBG4gfISTkCpKxyMH02

PM2_NAME=orion-md
